<header class="w-full ">
    <div class="bg-celeste flex justify-between p-3 items-center">
        <ul class="">
            <li>
                <a class="m-3 text-primary font-bold" href="">Hogar</a>
                <a class="m-3 text-primary font-bold" href="">Empresas</a>
            </li>
        </ul>
          <a class="text-primary font-bold inline-flex items-center border-0 py-1 px-3 focus:outline-none hover:bg-claro rounded mt-4 md:mt-0 mr-3" routerLink="/signin" ng-reflect-router-link="signin" href="/signin">   <svg class="h-7 w-7 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg> Mi cuenta</a>
    </div>
    <div>
        <nav class="bg-white shadow-lg">
            <div class="md:flex items-center justify-between py-2 px-8 md:px-12">
                <div class="flex justify-between items-center">
                    <div class="text-2xl font-bold text-gray-800 md:text-3xl">
                        <a href="#"><img class="w-32" src="../../../assets/images/logo.png" alt="" /></a>
                    </div>
                    <div class="md:hidden">
                        <button type="button"
                            class="block text-gray-800 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                                <path class="hidden"
                                    d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z" />
                                <path
                                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row hidden md:block -mx-2">
                    <a href="#" class="text-secondary rounded py-2 px-2 md:mx-2">Internet</a>
                    <a href="#" class="text-secondary rounded py-2 px-2 md:mx-2">TV</a>
                    <a href="#" class="text-secondary rounded py-2 px-2 md:mx-2">Contacto</a>
                    <a href="#" class="text-secondary rounded py-2 px-2 md:mx-2">Ayuda</a>
                </div>
                <div></div>
            </div>
        </nav>
    </div>
</header>
